{% extends "base.html" %}

{% block title %}AmbaLearn Dashboard - Feedback{% endblock %}

{% block content %}
    <h1 class="h2 mb-4">Feedback</h1>

    <!-- Feedback Table -->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">User Feedback</h5>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">User</th>
                        <th scope="col">Comment</th>
                        <th scope="col">Course Name</th>
                        <th scope="col">Sentiment</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in feedback_data %}
                    <tr>
                        <td>{{ row.user }}</td>
                        <td>{{ row.comment }}</td>
                        <td>{{ row.course_name }}</td>
                        <td>
                            {% if row.sentiment == 'Good' %}
                                <span class="badge bg-success">Good</span>
                            {% else %}
                                <span class="badge bg-danger">Bad</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

